
.container_Header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.gallery-container-body {
	display: flex;
	flex-direction: row;
  	justify-content: center;
	padding: 30px;
	font-size: 24px;
	height: 80vh;
  }
  
.tool-container-right{
	display: flex;
	  justify-content: flex-end;
	  align-items: center;
  }

  .gallery-toolbox-right {
	flex: 0.8;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 20px;
	margin-top: 20px; /* Adjust the top margin as desired */
  }
  .toolbox-section {
	flex: 0.5;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px; /* Adjust the spacing between sections as desired */
  }

  .Tool_name{
    flex: 0.07;
    width: 100%;
    display: flex;
    flex-direction: column; /* Add this line to change the direction to column */
    border-bottom: 1px solid;
    margin-bottom: 30px;
}

	.Tool_title{
		width: auto;
		height: 100%;
		font-size: 20px;
		font-weight: 600;
		margin-right: 10px;
	}
	
	.Tool_info{
		flex: 1;
		height: 100%;
		font-size: 20px;
		display: flex;
		justify-content: space-between;
		margin-top: 13px;
		margin-right: 15px;
	}

	.size {
		font-size: 30px;
		font-weight: 500;
	}
	
  .tool-division-line{
	width:90%;
	border-top: 3px solid #000000;
	margin-left: 5%; /* 왼쪽으로 5% 공간 추가 */
	margin-right: 5%; /* 오른쪽으로 5% 공간 추가 */
  }
  
  .tool-division-line2{
	width:100%;
	border-top: 1px solid #000000;
  }