
.container_Header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

.tool-container-right{
	display: flex;
	  justify-content: flex-end;
	  align-items: center;
  }
  
  .toolbox-left {
	flex: 0.2;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	margin: 35px;
	margin-right: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	height: 75vh;
	box-shadow: 0 0 5px rgb(151, 151, 151);
  }
  
  .toolbox-right {
	flex: 0.8;
	align-items: top;
	justify-content: flex-start;
	
	margin-left: 20px;
  }
  
  .tool-container-top{
	height: 7%;
	display: flex;
	justify-content: space-between;
	align-items: right;
	width:100%;
  }
	
  .toolbox-right-body{
	height: 93%;
	display: flex;
	  flex-direction: row;
	align-items: center;
	justify-content: center;
	  font-size: 24px;
	width:100%;
  }
  
  .toolbox-half {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	text-align: left;
	font-size: 24px;
	border-radius: 10px;
	height: 100%;
	padding: 10px;
  }

  .text-size {
	font-size: 30px;
  }
  
  .text-size2 {
	margin-top: 15px;
	margin-bottom: 10px;;
	font-size: 20px;
	font-weight: 500;
	align-items: left;
  }
  
  .tool-division-line{
	width:90%;
	border-top: 3px solid #000000;
	margin-left: 5%; /* 왼쪽으로 5% 공간 추가 */
	margin-right: 5%; /* 오른쪽으로 5% 공간 추가 */
  }
  
  .tool-division-line2{
	width:100%;
	border-top: 1px solid #000000;
  }