.tool-container-right{
  display: flex;
	justify-content: flex-end;
	align-items: center;
}

.toolbox-left {
  flex: 0.2;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  margin: 35px;
  padding: 20px;
  height: 75vh;
  box-shadow: 0 0 8px rgb(158, 158, 158);
}

.toolbox-right {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 35px;
  padding: 20px;
  height: 75vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tool-container-top{
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  width:100%;
}
  
.toolbox-right-body{
  height: 93%;
  display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: center;
	font-size: 24px;
  width:100%;
}

.toolbox-half {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  font-size: 24px;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
}

.toolbox-definition{
  flex: 0.2;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  font-size: 16px;
  width: 97%;
  height: 100;
  white-space: normal; /* 줄 바꿈 활성화 */
  overflow-y:auto;
  overflow-x: hidden;
  font-family: 'consolas';
}

.toolbox-option{
  flex: 0.4;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  font-size: 16px;
  width:97%;
  white-space: normal; /* 줄 바꿈 활성화 */
  overflow-y:auto;
  overflow-x: hidden;
  font-family: 'consolas';
}

.toolbox-mitre{
  flex: 0.4;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  font-size: 16px;
  width:97%;
  white-space: normal; /* 줄 바꿈 활성화 */
  overflow-y:auto;
  overflow-x: hidden;
  font-family: 'consolas';
}

.toolbox-exec{
  flex: 0.5;
  width:97%;
}

.toolbox-wiki{
  flex: 0.5;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  font-size: 16px;
  width:97%;
  white-space: normal; /* 줄 바꿈 활성화 */
  overflow-y:auto;
  overflow-x: hidden;
  font-family: 'consolas';
}

.text-size {
  font-size: 30px;
  font-weight: 500;
}

.text-size2 {
  margin-top: 15px;
  margin-bottom: 10px;;
  font-size: 20px;
  font-weight: 500;
  align-items: left;
}

.tool-division-line{
  width:100%;
  border-top: 2px solid #000000;
}